:root {
	--black: #000;
	--white: #fff;
	--teal: #668988;
	--grey: #525252;
}

* {
	box-sizing: border-box;
}
html {
	font-size: 14px;
	line-height: 1.2;
}
body {
	font-family: "Rubik", sans-serif;
	font-style: normal;
}
a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h1,
h2,
h3,
.bold {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
}

.noselect {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

.center {
	text-align: center;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	background-position: center;
	background-size: 80%;
	background-repeat: repeat-y;
	min-height: 100vh;
}

.App-header {
	background-color: var(--teal);
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.App-main,
.App-header,
.App-footer {
	padding: 0 1rem;
}

.App-footer {
	background-color: var(--teal);
	text-align: center;
}

.App-main {
	flex-grow: 2;
}

.header-links {
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
	font-weight: 900;
	margin-left: 1rem;
	transition: text-shadow 0.5s;
}

.header-links:hover,
.header-links:active {
	/* text-decoration: underline;
	color: var(--white); */
	text-shadow: 0.1em 0.05em var(--white);
}

.header-links-on {
	text-decoration: underline;
}

.NavBar {
	display: none;
}

.artist-info-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

#artist-pic {
	margin-right: 30px;
	float: left;
	border-radius: 50%;
	width: 120px;

	box-shadow: 0.5rem 0px 0px #000000;
}

#artist-name {
	margin: 0;
}

#artist-real-name {
	color: var(--grey);
}

#artist-artwork-container {
	float: left;
	width: 120px;
	margin-right: 2rem;
	margin-bottom: 1rem;
	box-shadow: 0.5rem 0.5rem 0px #000000;
}

#artist-artwork {
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
	background-size: contain;
}

#artist-page-work {
	margin-bottom: 2rem;
}

.artworks-list {
	display: flex;
	flex-direction: column;
}

#tags {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}

.tag {
	font-family: "Roboto";
	font-weight: 900;

	background-color: var(--teal);
	color: var(--white);
	border-radius: 0.3rem;
	padding: 0.2rem 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.2rem;
}

#artwork-name {
	font-size: 3rem;
}

#logo {
	font-family: "Barlow", sans-serif;
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 1;
	text-shadow: 0.08em 0.06em var(--white);
	margin-bottom: 0.2em;
}

#mapid  b {
	font-family: 'Roboto', sans-serif;
}


#mapid {
	font-family: 'Rubik', sans-serif;
	width: 100%;
	height: 400px;
	margin: 0 auto;
}

/* Adaptivity */
/* mobile screens */
@media screen and (min-width: 420px) {
}
@media screen and (min-width: 576px) {
	#artist-artwork-container {
		width: 200px;
		box-shadow: 1rem 1rem 0px #000000;
	}

	#artist-pic {
		width: 150px;
	}
}
@media screen and (min-width: 680px) {
	.App-main,
	.App-header,
	.App-footer {
		padding: 0 2rem;
	}

	.NavBar {
		display: inline-flex;
	}

	#mapid {
		width: 80%;
		height: 500px;
	}
}
/* desktops, laptops, tablets */
@media screen and (min-width: 768px) {
	.App-main,
	.App-header,
	.App-footer {
		padding: 0 3rem;
	}

	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 920px) {
	html {
		font-size: 18px;
	}

	#artist-pic {
		width: 200px;
	}

	#artist-artwork-container {
		width: 300px;
	}
}
/* large screens */
@media screen and (min-width: 1200px) {
	.App-main,
	.App-header,
	.App-footer {
		padding: 0 5rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	html {
		font-size: 18px;
	}

	#artist-artwork-container {
		width: 350px;
	}

	#mapid {
		width: 60%;
	}

	#artist-pic {
		width: 250px;
	}

	#artist-description, #artwork-description {
		width: 70%;
	}
}
@media screen and (min-width: 1400px) {
	html {
		font-size: 22px;
	}
}
