.Item{
    position: absolute;
    background-color: #fcfff9;
    width: 300px;
    height: 300px;
    text-align: center;
    border: none;
}

.Item img {
    box-shadow: 1rem 1rem #000;
    object-fit: cover;
}

.Item p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
}

